  
<div class="container my-4">
  <div class="card">
    <div class="card-header">Perfis</div>
    <div class="card-body">
      <h5 class="card-title">Novo Perfil</h5>
      <div class="card-text">
        <%= render 'form', profile: @profile %>
      </div>
      <div>
        <%= link_to 'Voltar', profiles_path, class:"btn btn-outline-dark"  %>
      </div>
    </div>
    <div class="card-footer text-muted"></div>
  </div>
</div>
