<div class="container my-4">
  <div class="card">
    <div class="card-header">Posts</div>
    <div class="card-body">
      <h5 class="card-title">Editar Post</h5>
      <div class="card-text">
        <%= render 'form', post: @post %>
      </div>
      <div>
        <%= link_to 'Ver', @post, class:"btn btn-outline-dark me-2" %>
        <%= link_to 'Voltar', posts_path, class:"btn btn-outline-dark"  %>
      </div>
    </div>
    <div class="card-footer text-muted"></div>
  </div>
</div>
