<nav class="navbar navbar-dark bg-light-custom">
  <div class="container-fluid">
        <a class="nav-link ms-auto" href="https://hencan.github.io/portfolio/" target="_blank">
          <div class="logo-hencan" style="width:25px; height:25px;"></div>
        </a>
  </div>
</nav>
