<div class="container-fluid position-fixed bottom-0 start-0" style="z-index:1100;">
  <div class="alert alert-primary text-dark border-dark alert-dismissible fade show my-3" role="alert">
    <%= notice %>
    <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
  </div>
</div>